@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{      
    ViewData["Title"] = "Mission 4";

        
}



<h1 class="text-center">Will Clayton</h1>
<img class="center" src="img/picOfMe.jpg" />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="text-center">IS 413?</h2>
            <p>As I take IS 413 I hope to become more profficent in the basics of web development. I want to quickly be able to get everything set up and working properly so I can spend more time on making it function well. I hope to be able to gain the skills and knowledge necassary to build a production grade website.</p>
        </div>
        <div class="col-sm">
            <h2 class="text-center">My Top 3 Jobs</h2>
            <ul>
                <li>1. Software Development </li>
                <li>2. Database Managment </li>
                <li>3. Honestly I don't know</li>
            </ul>
        </div>
        <div class="col-sm">
            

        </div>
    </div>
</div>






    
<script src="js/CalculateGrade.js"></script>
